In [1]:
import numpy as np
import pandas as pd
from glob import glob
import xml.etree.ElementTree as xet

import cv2

In [2]:
import os

In [3]:
df = pd.read_csv('labels.csv')
df.head()

               filepath  xmin  xmax  ymin  ymax
0  Data/images/N199.xml    45   112   206   255
1  Data/images/N242.xml   202   386   190   227
2  Data/images/N229.xml   358  1031   294   540
3  Data/images/N148.xml   244   369   240   293
4   Data/images/N63.xml   297   422   174   218

### Labels yolo
    center_x, center_y, width , height

In [11]:
# parsing
def parsing(path):
    parser = xet.parse(path).getroot()
    name = parser.find('filename').text
    filename = f'Data/images/{name}'

    # width and height
    parser_size = parser.find('size')
    width = int(parser_size.find('width').text)
    height = int(parser_size.find('height').text)
    
    return filename, width, height
df[['filename','width','height']] = df['filepath'].apply(parsing).apply(pd.Series)

In [15]:
df.head()

,filepath,xmin,xmax,ymin,ymax,filename,width,height,center_x,center_y,bb_width,bb_height
0,Data/images/N199.xml,45,112,206,255,Data/images/N199.jpeg,534,337,0.147004,0.683976,0.125468,0.145401
1,Data/images/N242.xml,202,386,190,227,Data/images/N242.jpeg,600,337,0.490000,0.618694,0.306667,0.109792
2,Data/images/N229.xml,358,1031,294,540,Data/images/N229.jpeg,1280,847,0.542578,0.492326,0.525781,0.290437
3,Data/images/N148.xml,244,369,240,293,Data/images/N148.jpeg,600,430,0.510833,0.619767,0.208333,0.123256
4,Data/images/N63.xml,297,422,174,218,Data/images/N63.jpeg,624,450,0.576122,0.435556,0.200321,0.097778

In [16]:
# center_x, center_y, width , height
df['center_x'] = (df['xmax'] + df['xmin'])/(2*df['width'])
df['center_y'] = (df['ymax'] + df['ymin'])/(2*df['height'])

df['bb_width'] = (df['xmax'] - df['xmin'])/df['width']
df['bb_height'] = (df['ymax'] - df['ymin'])/df['height']

In [17]:
df.head()

,filepath,xmin,xmax,ymin,ymax,filename,width,height,center_x,center_y,bb_width,bb_height
0,Data/images/N199.xml,45,112,206,255,Data/images/N199.jpeg,534,337,0.147004,0.683976,0.125468,0.145401
1,Data/images/N242.xml,202,386,190,227,Data/images/N242.jpeg,600,337,0.490000,0.618694,0.306667,0.109792
2,Data/images/N229.xml,358,1031,294,540,Data/images/N229.jpeg,1280,847,0.542578,0.492326,0.525781,0.290437
3,Data/images/N148.xml,244,369,240,293,Data/images/N148.jpeg,600,430,0.510833,0.619767,0.208333,0.123256
4,Data/images/N63.xml,297,422,174,218,Data/images/N63.jpeg,624,450,0.576122,0.435556,0.200321,0.097778

In [22]:
### split the data into train and test
df_train = df.iloc[:200]
df_test = df.iloc[200:]

text.file

    class_id, center_x, center_y, bb_width, bb_height

In [24]:
from shutil import copy

In [25]:
train_folder = './data_images/train'

values = df_train[['filename','center_x','center_y','bb_width','bb_height']].values
for fname, x,y, w, h in values:
    image_name = os.path.split(fname)[-1]
    txt_name = os.path.splitext(image_name)[0]
    
    dst_image_path = os.path.join(train_folder,image_name)
    dst_label_file = os.path.join(train_folder,txt_name+'.txt')
    
    # copy each image into the folder
    copy(fname,dst_image_path)

    # generate .txt which has label info
    label_txt = f'0 {x} {y} {w} {h}'
    with open(dst_label_file,mode='w') as f:
        f.write(label_txt)
        
        f.close()

In [26]:
test_folder = './data_images/test'

values = df_test[['filename','center_x','center_y','bb_width','bb_height']].values
for fname, x,y, w, h in values:
    image_name = os.path.split(fname)[-1]
    txt_name = os.path.splitext(image_name)[0]
    
    dst_image_path = os.path.join(test_folder,image_name)
    dst_label_file = os.path.join(test_folder,txt_name+'.txt')
    
    # copy each image into the folder
    copy(fname,dst_image_path)

    # generate .txt which has label info
    label_txt = f'0 {x} {y} {w} {h}'
    with open(dst_label_file,mode='w') as f:
        f.write(label_txt)
        
        f.close()

---